html, body {
    --blue: #34bfed;
    --green: #63ED35;
    min-width: 300px;
}

/* This fixes the browser action popup from being too wide on Firefox, but still use full-width on the in-browser settings panel */
@-moz-document url-prefix() {
        html, body {
            max-width: 300px;
        }
        @media (min-width: 301px) {
            html, body {
                max-width: none;
            }
        }
}

select {
    overflow: auto;
}

.btn-wii, .btn-wii:active, select {
    background: linear-gradient(
        to bottom,
        #f5fafe 0%,
        #fdfdfe 7%,
        #f2fdff 81%,
        #e8f3f8 86%,
        #e7f2f6 89%,
        #e4f0f3 93%,
        #ddeff0 100%
    ) !important;
}

.btn-wii, select {
    border: 1px solid var(--blue) !important;
}

.text-success {
    color: var(--green);
}

#included-sites, #excluded-sites {
    resize: none;
}